

<form action="/Movie/BehuFans/@ViewBag.id"   method= "post">
<select name="type" >
    <option value="iZjarrte">i zjarrte</option>
    <option value="iThjeshte">i thjeshte</option>
    <option value="normal">normal</option>

</select>

<button type="submit">Submit</button>
</form>