<div class="row">
    <div class="col-sm-6">
        <partial name="RegisterPartial"></partial>
    </div>
    <div class="col-sm-6">
         <partial name="LoginPartial"></partial>
    </div>
</div>